.add-new {
    height: 40px;
    width: 180px;
    background: #8AEA92;
    border: none;
    font-size: 17px;
    font-weight: 800;
    margin: 25px 0px 25px 0px;
    cursor: pointer;
}

.dashboard {
    background: rgb(238, 255, 245);
    min-height: 100vh;
    width: 60%;
    margin: auto;
}

.filter-span {

}

.filter-span p {
    font-weight: 600;
    font-size: 18px;
}

.dashboard hr {
    width: 80%;
    margin: 25px auto;
}

.dashboard input {
    margin-right: 12px;
    margin-left: 3px;
    width: 75px;
}

.filter-span button {
    margin: 0px 5px;
    height: 29px;
    width: 65px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.filter-span button:first-of-type {
    background: #8AEA92;
}

.filter-span button:last-of-type {
    background: #3B5249;
    color: white;
}

.property-div {
    background: rgb(230, 230, 230);
    width: 90%;
    height: 150px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
}


.property-div h2 {
    font-size: 15px;
}

.property-div p {
    font-size: 15px;
}


.property-div-middle {
    width: 45%;
    padding: 15px 0px 15px 0px;

}

.property-div-middle > h2 {
    margin-bottom: 5px;
}

.property-div-right {
    padding: 10px;
    position: relative;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.property-div-right > div {
    padding: 5px;
    padding-left: 15px;
    border-left: 1px solid black;
}

.property-div-right button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    cursor: pointer;
    border: none;
}

.property-div img {
    width: 150px;
    min-height: 100%;
    background: rgb(197, 197, 197);
}