.auth {
    background: white;
    width: 60%;
    min-height: 100vh;
    margin: auto;
    overflow: hidden;
}

.auth-content {
    margin: 150px auto;
    width: 80%;
}

.auth-content img {
    height: 200px;
    margin: 50px;
}

.auth-content h2 {
    text-align: left;
    margin-left: 20px;
    font-weight: 700;
}

.auth-content input {
    width: 100%;
    margin-bottom: 25px;
}

.auth-buttons {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.auth-buttons button {
    height: 40px;
    width: 130px;
    border: none;
    font-size: 15px;
    font-weight: 1000;
    background: gray;
    cursor: pointer;
}

.auth-buttons button:first-of-type {
    background: #8AE892;
}

.auth-buttons button:last-of-type {
    background: #3B5249;
    color: white;
}